.allpost_article {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allpost_article button {
    border-color: var(--color-green);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    margin-top: 40px;
}

.allpost_article button a {
    color: var(--color-green);
    font-size: 18px;
}