<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<header>
    <div class="menu">
        <div class="logotype">
            <img src="images/favicon.png" alt="Логотип">
        </div>
        <nav class="nav">
            <ul class="nav_list">
                <li class="active"><a href="index.html" class="nav-active">About me</a></li>
                <li><a href="blog.html" class="nav-active">Blog</a></li>
                <li><a href="#contacts" class="nav-active">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>