<section class="main">
    <div class="main_inner">
        <div class="about">
            <h1>Hello! I'm Nelsom, a photographer</h1>
            <p>
                Occaecat elit pariatur non Lorem laborum proident Lorem non sint<br> nostrud. 
                Et dolore incididunt mollit nostrud Lorem dolore. 
                Qui aliquip<br> aute amet eu adipisicing velit ullamco nulla sint enim do quis aute
            </p>
            <a href="#skills" class="about_me">More about me ></a>
        </div>
        <div class="picture">
            <img class="mountains" src="images/mountains.png" alt="Красивые горы и голубая река">
            <img class="myblogs" src="images/Selection.svg" alt="My blogs">
        </div>
    </div>
</section>