:root {
    --color-green: #61C15C;
    --color-dark: #1E2128;
    --color-white: #FDFEFF;
    --color-orange: #DB5E31;
    --color-gray: #BDC1CA;
    --color-placeholder: #A3A6AD;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-size: 52px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: 1px solid var(--color-green);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    margin-top: 40px;
}

button:focus {
    outline: none;
}

button a {
    font-size: 18px;
    color: var(--color-green);
}
