<article>
  <div class="post_content">
    <p class="post_category">{{ article.category }}</p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.description }}</p>
  </div>
  <div class="post_image">
    <img class="post_im" [src]="article.image" [alt]="article.imageAlt">
  </div>
  <div class="card_actions">
    <button class="delete_btn" (click)="onDelete()" title="Удалить статью">
      <img src="images/Delete.svg" alt="Удалить">
    </button>
    <button class="edit_btn" (click)="onEdit()" title="Редактировать статью">
      <img src="images/edit.svg" alt="Редактировать">
    </button>
  </div>
</article>