<div class="add_article_inner">
  <h3>{{ formTitle() }}</h3>
  <div class="form_article">
    <div [formGroup]="form">
      <div class="control">
        <label>Заголовок *</label>
        <input
          type="text"
          formControlName="title"
          placeholder="Заголовок статьи"
          [class.input-error]="hasError('title')"
        >
        @if (hasError('title')) {
          @for (errorMsg of getControlErrors('title'); track $index) {
            <span class="error">{{ errorMsg }}</span>
          }
        }
      </div>

      <div class="control">
        <label>Текст статьи *</label>
        <textarea
          formControlName="description"
          placeholder="Текст статьи"
          [class.input-error]="hasError('description')"
        ></textarea>
        @if (hasError('description')) {
          @for (errorMsg of getControlErrors('description'); track $index) {
            <span class="error">{{ errorMsg }}</span>
          }
        }
      </div>

      <div class="but">
        <button class="sub" (click)="onSubmit()" [disabled]="form.invalid">
          {{ saveButtonTitle() }}
        </button>
        <button class="cancel" (click)="cancel.emit()">Отмена</button>
      </div>
    </div>
  </div>
</div>